@import url(../../App.module.css);

/*Границы таблицы задаются свойством border*/
.myTable {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 2px solid var(--textColor);
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    width: 100%;
}

/*Границы ячеек заголовка каждого столбца задаются для элемента th:*/
.myTh {
    padding: 10px;
    background: var(--backgroundPaleColor);
    border-bottom: 2px solid var(--textColor);
}

.myThLast {
    padding: 10px;
    background: var(--backgroundPaleColor);
    border-bottom: 2px solid var(--textColor);
    border-left: 1px solid var(--textColor);
    text-align: center;
}

.myTd {
    padding: 10px 15px;
}

.myTdLast {
    border-left: 1px solid var(--textColor);
    padding: 10px 15px;
    text-align: center;
}


.MyTr {
    background-color: var(--backgroundLightColor);
}
.MyTr:nth-child(even) {
        background-color: var(--backgroundPaleColor);
    }


.parent_block_container {
    text-align: center;
}

.block_container {
    display: inline-block;
    text-align: left;
}

.block1 {
    float: left;
    margin: 40px;
}

.block2 {
    /*display: inline;*/
    float: left;
    margin: 40px;
    /*    display: inline-block;
    background: red;
    width: 50%;*/
}
