@import url(../../App.module.css);

/*Границы таблицы задаются свойством border*/
.myTable {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 3px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    width: 100%;
}

/*Границы ячеек заголовка каждого столбца задаются для элемента th:*/
.myTh {
    padding: 10px;
    border: 10px var(--textColor);
    background: var(--backgroundPaleColor);
}

.myTd {
    padding: 10px 15px;
    border: 10px var(--textColor);
}

.MyTr {
    background-color: var(--backgroundLightColor);
}
.MyTr:nth-child(even) {
        background-color: var(--backgroundPaleColor);
    }