:root {
    --panelBackgroundColor: #F5BF97; /*светоло-коричневый : */
    --panelButtonColor: #965437; /*коричневый  */
    --backgroundLightColor: #DDEAFD; /* чистый бледно-голубой  */
    --backgroundPaleColor: #CBD8E8; /*серый бледно-голубой  */
    --backgroundBrightColor: #AFE7FF; /* ярко-голубой  */
    --buttonColor: #3A8EEF; /*синий  */
    --textColor: #212526; /* черный  */
    --buttonTextColor: #FCFCFC; /*белый  */
    --strokeColor: #178B93;
}

.main_div {
    background: var(--backgroundBrightColor);
    width: 100vw;
    min-height: 100vh;
    /*height: 100vh;*/
    padding: 10px
    /*    width: 100%;
    height: 100%;*/
}

.aligncenter {
    text-align: center;
}
