@import url(../../App.module.css);

.myBtn {
    box-sizing: border-box;
    /*width: 100%;*/
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);


    background: var(--buttonColor);


    border: 1px solid var(--textColor);
    border-radius: 10px;
    font-family: 'Cambay';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    color: var(--textColor);
}
btn:active + .content {
    background: blue;
}